<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="web-implementacion-listas">
        <wb-resource deploy-path="/" source-path="/WebRoot" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="java-output-path" value="/web-implementacion-listas/WebRoot/WEB-INF/classes"/>
        <property name="context-root" value="web-implementacion-listas"/>
    </wb-module>
</project-modules>
